.bodyHolder{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centerS;
}


.inputbar{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.ContactContainer{
    width: 85%;
    height: 100vh;
    background-color: #faebd7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
}