*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
width:100%;
height:max-content;
display: flex;
align-items: center;
justify-content: center;
background-color: red;
}

.mainBody{
  width: 95%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}